.home {
  background: linear-gradient(170.92deg, #FFFFFF 14.52%, #F6F4FF 79.46%);
}

.secao-primeira{
  height: 160vh;
  width: 100%;
  background-image: url('../../assets/home//banner.svg') ;
  background-repeat: no-repeat;
  background-size: 100%;
}

p{
  font-family: 'Poppins', sans-serif;
}

.secao-primeira h1 {
  font-family: 'Baloo 2', cursive;
  font-weight: 700;
  color: #fff;
  font-size: 90px;
}

.secao-primeira p{
  font-weight: 400;
  font-size: 21px;
  color: #fff;
  padding: 0px;
}
.secao-primeira button{
  padding: 10px 35px 13px 35px;
  font-size: 19px;
  font-weight: 600;
  background-color: #F3B700;
  color: #1E1650;
  border-radius: 25px;
  border-width: 0px;
  transition: all ease 300ms;
}
.secao-primeira button:hover{

  background-color: #FFF;
  color: #715AFF;
}
.secao-sobre-nos{
  display: flex;
}
.secao-sobre-nos button{
  padding: 4px 26px  6px 26px;
  width: 30%;
  font-size: 18px;
  font-weight: 600;
  background-color: #F3B700;
  color: #715AFF;
  border-radius: 25px;
  border-width: 0px;
  transition: all ease 300ms;
}

.secao-sobre-nos button:hover{
  background-color:#715AFF;
  color: #FFF;
}
.sobre-nos-right{
  width: 50%;
  /* height: 20vh; */
}
.sobre-nos-right img{
  width: 100%;
  height: 100vh;
}

.sobre-nos-left{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.sobre-nos-left h2{
  font-family: 'Baloo 2', cursive;
  font-size: 32px;
  color: #35338A;
  font-weight: 700;
}

.sobre-nos-left p{
  font-size: 18px;
  color: #949494;
}
.sobre-nos-textos{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.secao-vantagens{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-vantagens{
  /* background-color: #35338A; */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-vantagem{
  width: 30%;
  /* height: 150vh; */
  background-color: #A682FF;
  border: solid 2px #7A7A7A;
  border-radius: 15px;
  padding: 20px;
}

.card-vantagem img{

}

.secao-vantagens h2{
  font-family: 'Baloo 2', cursive;
  font-size: 32px;
  color: #35338A;
  font-weight: 700;
  margin-bottom: 25px;
}
.card-vantagem p{
  color: #fff;
}

.titulo-vantagem{
  font-size: 28px;
  font-weight: bold;
  color: #FEE500 !important;
}

.secao-personagens{
  height: 170vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 90px;
}

.personagens-caixas, .personagens-caixas-meio{
  height: 32%;
  width: 100%;
  /* background-color: #35338A; */
  display: flex;
  justify-content: space-between;
}

.personagens-caixa{
  height: 100%;
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
  /* background-color: black; */
}
.container-personagem{
  height:100%;
  width: 90%;
  display: flex;
  /* background-color: #35338A; */
  align-items: center;
  justify-content: center;
}
.pers-img, .pers-nome{
  height: 100%;

}

.pers-img{
  display: flex;
  align-items: flex-end;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /* background-color: #F3B700; */
}
.pers-img img{
  width: 100%;
  height: 100%;
}
.pers-nome{
  /* background-color: #7A7A7A; */
  display: flex;
  flex-direction: column;
  justify-content:  center;
  padding-top: 30px;
}
.pers-nome p {
  font-size: 42px;
  font-family: 'Baloo 2', cursive;
  font-weight: 700;
  color: #fff;
  margin: 0px !important;
  padding: 0px !important;
}

.pers-nome button {
  width: 200px !important;
  font-size: 19px;
  padding: 0px;
  padding: 5px 25px 5px 25px;
  border-radius: 25px;
  border-width: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.matt{
  background-image: url('../../assets/home/matt-bg.svg') ;
  background-repeat: no-repeat;
}

.matt button {
  background-color: #F3B700;
  color: #577CFE;
}

.matt button:hover, .pam button:hover, .susie button:hover, .vanessinha button:hover, .patrick button:hover, .matofobico button:hover{
  background-color:#715AFF;
  color: #FFF;
}
.pam button{
  background-color: #577CFE;
  color: #FEBF00;
}

#susie button{
  background-color: #FE95AE;
  color: #FFF;
}

#vanessinha button{
  background-color: #6A4EE7;
  color: #FFF;
}

.patrick button{
  background-color: #D04C57;
  color: #FFF;
}

.matofobico button{
  background-color: #4DD85B;
  color: #D04C57;
}
/* .matt p{
  color: #577CFE;
} */
.pam{
  background-image: url('../../assets/home/pam-bg.svg') ;
  background-repeat: no-repeat;
}
#susie{
  width: 45% !important;
  background-image: url('../../assets/home/susie-bg.svg') ;
  background-repeat: no-repeat;
  /* background-size: 100%; */
}

#vanessinha{
  width: 53%;
  background-image: url('../../assets/home/vanessinha-bg.svg') ;
  background-repeat: no-repeat;
  /* background-size: 100%; */
}

.patrick{
  background-image: url('../../assets/home/patrick-bg.svg') ;
  background-repeat: no-repeat;
}

.matofobico{
  background-image: url('../../assets/home/matofobico-bg.svg') ;
  background-repeat: no-repeat;
}
.secao-planos{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 130vh;
}

.cards-planos{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-planos{
  width: 30%;
  height: 90%;
  border: 2px solid #828282;
  background-color: #F8F8F8;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
}

.plano-head{
  width: 100%;
  height: 30%;
  background-color: #A682FF;
  border: 2px solid #A682FF;
  border-radius: 23px 23px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.preco-plano {
  margin-bottom:15px;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  /* background-color: #35338A; */
}

.preco-plano p{
  margin: 0px !important;
}
.plano-valor{
  font-weight: 600;
  font-size: 30px;
}
.destaque {
  font-size: 45px;
}
.descricao p {
  color: #949494;
}

.plano-head button {
  border-radius: 25px;
  border-width: 0px;
  background-color: #6154B1;
  padding: 8px 35px 8px 35px;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
}


.descricao{
  height: 66%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #828282;
  font-weight: 500;
}

.button-assinar{
  width: 100%;
  /* background-color: #35338A; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.button-assinar button {
  padding: 10px 35px;
  font-size: 19px;
  font-weight: 600;
  background-color: #F3B700;
  color: #715AFF;
  border-radius: 25px;
  border-width: 0px;
  transition: all ease 300ms;
}
.button-assinar button:hover {
  background-color:#715AFF;
  color: #FFF;
}
.descer {
  margin-top: 150px;
}

.secao-planos h2{
  font-family: 'Baloo 2', cursive;
  font-size: 36px;
  color: #35338A;
  font-weight: 700;
  margin-bottom: 25px;
}
.wav-rodape{
  background-image: url('../../assets/home/wave-rodape.svg') ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.secao-roda-pe{
  width: 100%;
  height: 50vh;
  background-color: #F0EBFB;
}