:root{
    --purple: #550475;
    --yellow: rgb(255, 211, 124);
}


/* Comic Neue: */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');


/* Shadows into light: */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.background{
   background-color: rgb(255, 255, 255);
}


.tirinha{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.tirinha img{
 width: 100%; 
}

.caixa-interacao{
  position: relative;
  width: 96%;
  height: 43vh;
  top: -330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white; /* #b2d9d8 */
  border-radius: 150px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.imagem-interacao{
  position: absolute;
  width: 25%;
  height: 100%;
  background-image: url("../../assets/tirinha/character image.png");/* blanchedalmond */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left;
  background-color: black;
  border: solid 5px;
  border-radius: 100%;
}

.texto-interacao{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(175deg,skyblue 70%, rgba(1, 61, 85, 0.2) 10% );
  padding-top: 20px;
  padding-left: 27%;
  padding-right: 5%;
  gap: 10%;
  border: solid 5px;
  border-radius: 100px 100px 100px 100px;
  box-shadow: 0 0 180px 70px rgba(69, 2, 90, 0.8);
}

.texto-interacao p {
  font-size: 2.1vw;
 /* font-family: 'Shadows Into Light', cursive; */
  font-family: cursive; 
  font-weight: bold;
}

.btns-interacao{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10%;
}

.btns-interacao button{
  padding: 5px 21px;
  background-color: var(--yellow); /* rgb(248, 231, 161) */
  color: var(--purple);
  border-radius: 50px;
  padding: 0 25px 0 25px;
  font-family: 'Comic neue', cursive;
  font-size: 1.9vw;
  font-weight: bold;
  border: 2px solid var(--purple);
}

.btns-interacao button:hover{
  background-color: var(--purple); /* rgb(248, 231, 161) */
  color: var(--yellow);
  border: 2px solid var(--purple);
  transition-duration: 0.5s;
}